@model GestionClasesGimFront.ViewModels.AlumnosViewModel

@{
    Layout = null;
}
<head>
    <title>Login 10</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/login/login.css" rel="stylesheet" />

</head>
<body>
    <div role="document">
        <div>
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Registro de Alumno.</h5>
            </div>
            @using (Html.BeginForm("GuardarAlumno", "/Register", FormMethod.Post))
            {
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-6 mt-1 mb-3">
                            <label class="col-md-4 form-control-label">Nombre</label>
                            @Html.EditorFor(x=> x.Nombre, new {htmlAttributes = new {@class = "col-md-8 form-control" } })
                        </div>

                        <div class="col-md-6 mt-1 mb-3">
                            <label class="col-md-2 form-control-label">Apellido</label>
                            @Html.EditorFor(x=> x.Apellido, new {htmlAttributes = new {@class = "col-md-8 form-control" } })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mt-1 mb-3">
                            <label class="col-md-2 form-control-label">Dni</label>
                            @Html.EditorFor(x=> x.Dni, new {htmlAttributes = new {@class = "col-md-8 form-control" } })
                        </div>
                        <div class="col-md-6 mt-1 mb-3">
                            <label class="col-md-2 form-control-label">Clave</label>
                            @Html.EditorFor(x=> x.Clave, new {htmlAttributes = new {@class = "col-md-8 form-control" } })
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-1 mb-3">
                            <label class="col-md-5 form-control-label">Role</label>
                            @Html.EditorFor(x=> x.RoleId, new {htmlAttributes = new {@class = "col-md-8 form-control" } })
                        </div>
                        <div class="col-md-6 mt-1 mb-3">
                            <label class="col-md-5 form-control-label">Fecha Inscripcion</label>
                            @Html.EditorFor(x=> x.FechaInscripcion, new {htmlAttributes = new {@class = "col-md-8 form-control" } })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-1 mb-3">
                            <label class="col-md-2 form-control-label">Imagen Url</label>
                            @Html.EditorFor(x=> x.imagenUrl, new {htmlAttributes = new {@class = "col-md-8 form-control", id = "imagenUrlInput" } })
                        </div>
                        <div class="col-md-6 mt-1 mb-3">
                            <label class="col-md-2 form-control-label">Imagen</label>
                            <img id="imagenPreview" src="" alt="Imagen previa" class="img-fluid" />
                        </div>
                    </div>
                </div>
                <form action="Alumnos/GuardarAlumno" method="post">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="btnCancelar" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success" id="btnGuardar">Guardar</button>
                    </div>
                </form>
            }
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/login/login.js"></script>
    <script src="~/js/Register/Register.js"></script>
</body>